@model CurrencyConverter.Core.ViewModels.Currency.LoadFormCurrencyViewModel


<form class="form-horizontal" id="frmEditCurrency" role="form">
    <input type="hidden" asp-for="Id" />
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="pull-left">
                <button type="button" class="btn btn-primary" id="btnEditCurrency"><i class="glyphicon glyphicon-ok"></i> Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right:5px;"><i class="fa fa-close"></i>Close</button>
            </div>
        </div>
    </div>
</form>